  body {
    background-color: lightcyan;
  }
  img.mediana{
    width: 100px;
    height: 100px;
    /* permite alinear la imagen a la izquierda del texto */
    float: left;
  }
  hr.separador {
    margin-top: 50px;
  }
  h1 {
    margin-left: 120px;
    padding-top: 30px;
  }
  h2 {
    margin-left: 30px;
    font-size: x-large;
  }
  h3 {
    margin-left: 30px;
    font-size: x-large;
  }
  p {
    /*crea una separación con respecto a la izquierda */
    margin-left: 30px;
  }
